<div id='badge'>
  <img src='/assets/images/odi.svg' class='glowing' id='logo'/>
  <h1 id='big-slogan' class='slogan hidden-xs'></h1>
  <h1 id='small-slogan' class='slogan hidden-md hidden-sm hidden-lg'></h1>
</div>

<script>
  $(document).ready(function() {
    var text = 'The Future Home Of Open Data Village, EMFCamp 2016'
    $('.slogan').text(text).hide().fadeIn({{ site.data.attributes.fadeins.slogan }})
    $('#logo').fadeIn({{ site.data.attributes.fadeins.logo }})
  })

  $('#logo').hover(
    function(){ $(this).addClass('super-glowing') },
    function(){ $(this).removeClass('super-glowing') }
  )
</script>
