<div id='members'>
  <p>Confirmed attendees:</p>
  <ul class='list-inline' id='attendees'></ul>
</div>

<script>
// via http://jsfiddle.net/C6LPY/2/
$(function() {
  var members = [
    {% for member in site.data.members %}
      '<li><a href="{{ member.url }}">{{ member.name }}</a></li> ',
    {% endfor %}
  ]

  while (members.length) {
    m = members.splice(Math.floor(Math.random() * members.length), 1)[0]
    $('#members ul').append(m);
  }
  $('#members').fadeIn({{ site.data.attributes.fadeins.members }})

  var count = {{ site.data.attributes.fadeins.members }}
  $('#attendees').children().each(function() {
    $(this).hide().fadeIn(count)
    count = count + {{ site.data.attributes.fadeins.increment }}
  })
})
</script>
