---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: 'Share Tech Mono';
  background: url(/assets/images/real_cf.png);
  color: $brand-primary;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.splash {
  text-align: center;

  li {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
  }

  li:before {
    content: ' - ';
  }

  li:last-child:after {
    content: ' - ';
  }
}

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

h1 {
  font-size: 2em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;

  height: $footer-height;
  opacity: 1;

  padding: $padding-large-vertical $padding-large-horizontal;


}

$shadow-offset: 0px;
$shadow-size: 20px;
$shadow: drop-shadow($shadow-offset $shadow-offset $shadow-size $brand-primary);

.glowing {
	-webkit-filter: $shadow;
	filter: $shadow;
}
