---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: 'Share Tech Mono', sans-serif;
  background: url(/assets/images/real_cf.png);
  color: $brand-primary;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.splash {
  text-align: center;

  li {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
  }

  li:after {
    content: '-';
  }

  li:first-child:before {
    content: '-';
  }
}

$footer-height: 40px;

html {
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#badge {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

#badge {
  position: relative;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#big-slogan, #small-slogan {
  font-size: 2em;
  color: black;
  position: absolute;
  margin-top: 23%;
  width: 100%;
  text-align: center;
}

#small-slogan {
  font-size: 1em;
  margin-top: 20%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  color: white;

  margin-top: $padding-large-vertical;
  background: $brand-primary;

  height: $footer-height;
  opacity: 1;

  padding: $padding-large-vertical $padding-large-horizontal;

  li {
    padding: 0px;
    margin: 0px;
  }

  li:before {
    content: " | ";
  }

  li:first-child:before {
    content: none;
  }
}

$shadow-offset: 0px;
$shadow-size: 20px;
$shadow: drop-shadow($shadow-offset $shadow-offset $shadow-size $brand-primary);

.glowing {
	-webkit-filter: $shadow;
	filter: $shadow;
}

#members {
  position: absolute;
  bottom: $footer-height;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  left: 0;
}
